# Application Config
VITE_APP_TITLE=FileSearch Pro

# Elasticsearch Config
# If running locally (dev), this is proxied via /api to avoid CORS
VITE_ELASTIC_URL=http://localhost:9200
VITE_ELASTIC_INDEX=filesearch
